@import ~bulma/sass/utilities/_all
@import ~bulma/sass/base/_all

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')

@import ./transform-center-mixin

html
  line-height: 150%
  font-family: 'Roboto', sans-serif

h1, h2, h3
  margin: 0 0 .25em

p
  margin: 0 0 .75em

a
  transition: color 300ms

  &:hover
    color: lightblue

h1
  font-size: 3em

h2
  font-size: 1.8em

h1, h2, h3
  font-family: 'Roboto Slab', serif

.screen
  height: 100vh
  position: relative
  overflow: hidden
  background-color: black
  background-position: center
  background-size: cover

  > *
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.crop-height
  min-height: 100%
  width: 100%

.crop-width
  min-width: 100%
  height: 100vh

.centered
  +transformCenter
  width: 80%

  h2
    text-transform: uppercase
    font-weight: bold

  h2, .caption
    text-shadow: 1px 1px 10px #0009

  p
    text-align: left

    &.caption
      text-align: inherit
      font-style: italic

.clickable
  cursor: pointer
