@import ~bulma/sass/utilities/_all
@import ~bulma/sass/base/_all

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')

html
  line-height: 150%
  font-family: 'Roboto', sans-serif
  text-align: center

  +mobile
    font-size: 1.15em

  +tablet
    font-size: 1.4em

  +desktop
    font-size: 1.7em


h1, h2, h3
  margin: 0 0 .25em

p
  margin: 0 0 .75em

a
  transition: color 300ms

  &:hover
    color: lightblue

h1
  font-size: 3em

h2
  font-size: 1.8em

h1, h2, h3
  font-family: 'Roboto Slab', serif

.screen
  min-height: 100vh
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background-color: black
  background-position: center
  background-size: cover
  width: 100%
  padding: 5vh 5vw

.crop-height
  min-height: 100%
  width: 100%

.crop-width
  min-width: 100%
  height: 100vh

.righted
  text-align: right
  position: absolute
  right: 2vw

.centered
  h2
    text-transform: uppercase
    font-weight: bold

  h2, .caption
    text-shadow: 1px 1px 10px #0009

  p
    text-align: left

    &.caption
      text-align: inherit
      font-style: italic

.clickable
  cursor: pointer
